@()

<div id="mobile-search-box">
  <!-- mobile -->

  <div class="row">
    <div class="search-box">
      <div class="col-md-12">
        <form id="search-form" name="searchForm" ng-submit="issueSearch()"
              novalidate class="mobile">
          <div class="form-group">
            <input type="search" name="searchTerm" id="searchTerm" ng-trim="true"
                   ng-model="searchTerm" class="form-control search-term"
                   ng-minlength="2"
                   placeholder="Enter at least two letters to search."/>
            <button type="submit" ng-disabled="searchForm.$invalid"
                    class="button btn btn-primary btn-sm">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <div id="new-button">
            <button type="button" class="btn btn-success" ng-click="newEntry()">
              New Entry
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <div class="search-options-mobile" ng-show="isMobile">
          <div class="all-button">
            <button class="btn btn-info" ng-click="showAll()">
              Get all passwords
            </button>
          </div>

      </div>
    </div>
  </div>

  <div id="mobile-results">
    <div class="row" ng-show="searchResults !== null">
      <div class="col-md-12">
        <div id="search-results-header">
          <span>Found {{pluralizeResults(searchResults.entries.length)}}.</span>
        </div>
      </div>
    </div>
    <div class="row" ng-show="searchResults.entries.length > 0">
      <div id="mobile-results-list" class="row">
        <pwg-accordion allow-multiselect="true" id="results">
          <pwg-accordion-item title="{{pw.name}}"
                              ng-repeat="pw in searchResults.entries | orderBy:'name'">
            <table class="table">
              <tbody>
                <tr class="mobile-field">
                  <td class="mobile-label">Description</td>
                  <td ng-bind-html="pw.description | linky:'newPage'"
                      class="mobile-value"></td>
                </tr>
                <tr class="mobile-field" ng-show="pw.loginID">
                  <td class="mobile-label">Login</td>
                  <td class="mobile-value">
                    <input type="text" readonly="readonly" ng-model="pw.loginID"
                           class="login-id" pwg-select-on-click/>
                  </td>
                </tr>
                <tr class="mobile-field password" ng-show="pw.plaintextPassword">
                  <td class="mobile-label">Password</td>
                  <td class="mobile-value">
                    <input type="text" readonly="readonly"
                           class="password shown-password"
                           ng-model="pw.plaintextPassword"
                           pwg-select-on-click/>
                  </td>
                </tr>
                <tr class="mobile-field url"ng-show="pw.url">
                  <td class="mobile-label">URL</td>
                  <td ng-bind-html="pw.url | linky:'newPage'" class="mobile-value"></td>
                </tr>

                <!-- Extras -->

                <tr ng-repeat="e in pw.extras | orderBy:'fieldName'"
                    class="mobile-field">
                  <td class="mobile-label">{{e.fieldName}}</td>
                  <td class="mobile-value">
                    <input ng-if="e.isPassword"
                           type="text" readonly="readonly"
                           class="password shown-password"
                           ng-model="e.fieldValue"
                           pwg-select-on-click/>
                    <span ng-if="!e.isPassword">{{e.fieldValue}}</span>
                  </td>
                </tr>

                <!-- Security Questions -->

                <tr ng-show="pw.securityQuestions.length > 0">
                  <td colspan="2" class="heading">
                    Security Questions
                  </td>
                </tr>
                <tr ng-repeat="q in pw.securityQuestions | orderBy:'question'"
                    class="mobile-field">
                  <td class="mobile-label security-question">
                    {{q.question}}
                  </td>
                  <td class="mobile-value">
                    <input type="text" readonly="readonly"
                           class="password shown-password"
                           ng-model="q.answer"
                           pwg-select-on-click/>
                  </td>
                </tr>

                <tr class="mobile-field" ng-show="pw.notes">
                  <td class="mobile-label">Notes</td>
                  <td>
                    <span ng-bind-html="pw.notes | linky:'newPage' | pwgNewlinesToBRs">
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </pwg-accordion-item>
        </pwg-accordion>
      </div>
    </div>
  </div>
</div>
