@()

<div class="row" id="import-export" ng-if="state == 'new'">

  <div class="col-md-6" id="export">
    <div class="well">
      <h2>Export your Data</h2>

      @defining("export.csv") { filename =>
        <div>
          <a class="btn btn-large btn-default" role="button"
             ng-click="startDownload()"
             href="@routes.ImportExportController.exportData(filename)">Export</a>
        </div>

        <div ng-show="downloading" class="alert alert-info"
             id="downloading-notice">
          Downloading to @filename
        </div>
      }
    </div>
  </div>

  <div class="col-md-6" id="import">
    <div class="well">
      <h2>Import your Data</h2>

      <p>Drag and drop a CSV file containing your data.</p>

      <div id="drop-area" nv-file-over nv-file-drop uploader="uploader">
        <span class="drop-label">Drag file here.</span>
      </div>

      <div id="upload-progress">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="{{progress}}"
             aria-valuemin="0"
             aria-valuemax="100"
             style="width: {{progress}}%">
          {{progress}}%
        </div>
      </div>

      <div ng-repeat="item in uploader.queue" id="queue">
        Name: {{item.file.name}}
        <button class="btn btn-default" ng-click="item.upload()">Upload</button>
      </div>

    </div>
  </div>
</div>


<!-- import mapping -->

<div id="import-mapping" ng-if="state == 'mapping'">
  <div class="row">
    <div class="col-md-12">
      <div class="heading">
        <h2>Match Fields</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-5">
      <div class="well">
        <h3>Fields</h3>

        <ul ng-repeat="field in fields | filter:availableItem | orderBy:'name'">
          <li>
            <a href="" class="btn" ng-click="field.select()"
            ng-class="{selected: field.selected}">
              {{field.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-5">
      <div class="well">
        <h3>File Columns</h3>

        <ul ng-repeat="cell in header | filter:availableItem | orderBy:'name'">
          <li>
            <a href="" class="btn" ng-click="cell.select()"
            ng-class="{selected: cell.selected}">
              {{cell.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <div class="well">
        <table class="table">
          <thead>
            <tr>
              <td colspan="4">Matches</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in header | filter:matchedItem | orderBy:'name'">
              <td><button class="btn selected">{{item.name}}</button></td>
              <td>&#x2192;</td>
              <td><button class="btn selected">{{item.matchedTo.name}}</button></td>
              <td>
                <button class="btn btn-borderless" ng-click="item.unmatch()">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <button ng-click="completeImport()" ng-disabled="!allMatched()"
                class="btn btn-primary pull-right">
                  Complete Import
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!-- import complete -->

<div class="row" id="import-complete" ng-if="state == 'complete'">
  <div class="col-md-12">
    <button class="btn btn-primary pull-right" ng-click="reset()">
      Back
    </button>
  </div>
</div>
