<div id="login-screen">
  <div class="grid">
    <div class="unit whole">
      <div id="login-panel">
        <header>Please sign in.</header>

        <form id="login-form">

          <div class="form-field">
            <div class="label">
              <label for="email">Email:</label>
            </div>
            <div class="input">
              <input type="email" name="email"/>
            </div>
          </div>

          <div class="form-field">
            <div class="label">
              <label for="password">Password:</label>
            </div>
            <div class="input">
              <input type="password" name="password"/>
            </div>
          </div>

          <div class="button-bar">
            <div class="buttons">
              <button class="btn btn-primary btn-large">Sign In</button>
              <button class="btn btn-large">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
