<div class="pwg-edit-password-entry-form">
  <form name="entryForm" ng-submit="submit()">

    <div class="form-group"
         ng-class="{'has-error': entryForm.name.$invalid && entryForm.name.$dirty}">
      <label for="name" class="control-label">Name:</label>
      <input class="form-control"
             name="name"
             ng-model="ngModel.name"
             id="name"
             type="text"
             ng-trim="true"
             placeholder="Name"
             ng-required="true"/>
      <p class="help-block"
         ng-show="entryForm.name.$error.required && entryForm.name.$dirty">
        Name is required.
      </p>
    </div>

    <div class="form-group" pwg-bootstrap-form-error="description">
      <label for="description" class="control-label">Description</label>
      <input class="form-control"
             name="description"
             id="description"
             ng-model="ngModel.description"
             type="text"
             placeholder="Description"/>
    </div>

    <div class="form-group">
      <label for="loginID" class="control-label">ID</label>
      <input class="form-control"
             name="loginID"
             id="loginID"
             ng-model="ngModel.loginID"
             type="text"
             ng-trim="true"
             placeholder="Login ID"/>
    </div>

    <div class="form-group password">
      <label for="password" class="control-label">Password</label>
      <input class="form-control"
             name="password"
             id="password"
             ng-model="ngModel.password"
             type="text"
             placeholder="Password"/>
    </div>

    <div class="form-group" pwg-bootstrap-form-error="url">
      <label class="control-label" for="url">URL</label>
      <input class="form-control"
             name="url"
             id="url"
             ng-model="ngModel.url"
             type="text"
             ng-trim="true"
             ng-pattern='/^(ftp|http|https):\/\/[^ "]+$/'
             placeholder="URL"/>
      <p class="help-block"
         ng-show="entryForm.url.$error.pattern && entryForm.url.$dirty">
        Invalid URL.
      </p>
    </div>

    <div class="form-group">
      <label for="notes" class="control-label">Notes</label>
      <textarea class="form-control" name="notes" id="notes"
                ng-model="ngModel.notes"
                ng-trim="true" placeholder="Notes"/>
    </div>

    <div class="extra-fields">
      <header>Custom Fields</header>
      <table>
        <thead>
        <tr>
          <th>Field Name</th>
          <th>Field Value</th>
        </tr>
        </thead>

        <tbody>
        <tr class="extra-field"
            ng-repeat="extra in ngModel.extras | filter:fieldNotDeleted()">
          <td>
            <input ng-model="extra.fieldName" class="form-control field-name"
                   placeholder="field name" ng-required="true"
                   ng-change="checkExtraField(extra)"
                   pwg-name="extra.inputNameName">
            <p class="help-block" ng-show="!extra.fieldName">
              Field name is required.
            </p>
          </td>
          <td>
            <input pwg-name="extra.inputValueName"
                   ng-change="checkExtraField(extra)"
                   ng-model="extra.fieldValue" class="form-control field-value"
                   placeholder="field value"/>
            <p class="help-block" ng-show="!extra.fieldValue">
              Field value is required.
            </p>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm delete-button"
                    ng-click="extra.delete()">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <button type="button" class="btn btn-primary btn-sm add-button"
                    ng-click="addExtra()">
              <i class="fa fa-plus"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="button-bar left">
      <div class="buttons">
        <button class="btn btn-primary"
                ng-disabled="entryForm.$invalid || entryForm.$pristine"
                type="submit">
          Save
        </button>
        <button type="button" class="btn btn-default"
                ng-click="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
