<div ng-show="plaintextPassword" class="pwg-password-display">
  <span class="show-hide-password">
    <a href="" ng-click="togglePasswordVisibility()"
       class="toggle-password">
      <span class="fa fa-toggle-on"
            ng-show="passwordIsVisible"></span>
      <span class="fa fa-toggle-off"
            ng-hide="passwordIsVisible"></span>
    </a>
  </span>

  <span ng-show="passwordIsVisible">
    <input type="text" readonly="readonly"
           class="password shown-password clickable"
           pwg-select-on-click
           ng-show="passwordIsVisible"
           ng-model="plaintextPassword"/>
  </span>

  <span ng-hide="passwordIsVisible"
        class="hidden-password clickable">
    **************
  </span>
</div>
