#admin-users {
  .inline-button {
    margin-left: 10px;
    border: none;
    background: transparent;
    &:hover {
      cursor: pointer;
    }

    &.cancel {
      color: red;
    }

    &.save {
      color: green;
    }
  }


  table {
    tr.admin {
      color: blue;
    }
    a {
      text-decoration: none;
      color:           black;
    }

    input {
      max-width: 100px !important;
    }

    .passwords.error {
      input {
        border: 1px solid red;
      }
    }
  }
}
