#admin-users {

  table {
    tr {
      vertical-align: top;
    }

    tr.admin {
      color: blue;
    }

    a {
      text-decoration: none;
      color:           black;
    }

    input {
      max-width: 100px !important;
    }

    .passwords.error {
      input {
        border: 1px solid red;
      }
    }
  }
}
