// Styles used by local Angular.js services.

@errorBgColor:   #f2dede;
@errorTextColor: #b65f5e;
@infoBgColor:    #d9edf7;
@infoTextColor:  #3b7896;
@warnBgColor:    #f2d3d3;
@warnTextColor:  #a94442;

.pwg-modal {
  .modal-title {
    width: auto;
    text-align: right;
    font-weight: bold;
  }
}
.pwg-fake-checkbox {
  margin-left:   5px;
  margin-right:  5px;
  border:        1px solid black;
  border-radius: 3px 3px 3px 3px;
  text-align:    center;
  min-width:     20px;
  max-width:     20px;
  min-height:    20px;
  min-width:     20px;
  width:         20px;
  height:        20px;
  display:       inline-block;
  color:         red;
}

.clippy {
  max-width: 30px;
}

.pwg-fake-checkbox {
  margin-left:   5px;
  margin-right:  5px;
  border:        1px solid black;
  border-radius: 3px 3px 3px 3px;
  text-align:    center;
  min-width:     20px;
  max-width:     20px;
  min-height:    20px;
  min-width:     20px;
  width:         20px;
  height:        20px;
  display:       inline-block;
  color:         red;

  i {
    vertical-align: top;
  }
}

.pwg-edit-password-entry-form {

  .password {
    input {
      font-family: monospace;
    }
  }

  .extra-fields {

    table {
      width: 100%;
      border: 0;

      tr {
        border: 0;

        td, th {
          border: 0;
          padding: 5px;
        }

        td {
          .field-name {
            font-weight: bold;
          }
        }

        &.extra-field {
          vertical-align: top;
        }
      }
    }
  }
}
