// Styles used by local Angular.js services.

@errorTextColor: #b65f5e;
@infoTextColor:  #3b7896;

.flash-container {
  width: 100%;

  .flash {
    // Relatively position the outer element, so that we can absolutely
    // position the button. See
    // http://css-tricks.com/absolute-positioning-inside-relative-positioning/
    position:       relative;
    max-width:      80%;
    width:          auto;
    min-height:     30px;
    margin-left:    auto;
    margin-right:   auto;
    margin-bottom:  10px;
    border-radius:  5px 5px 5px 5px;
    padding-top:    10px;
    padding-right:  0px;
    padding-left:   10px;

    &.flash-error {
      background-color: #f2dede;
      color:            @errorTextColor;
    }


    &.flash-info {
      background-color: #d9edf7;
      color:            @infoTextColor;
    }

    &.flash-message {
      vertical-align: middle;
      width: 100%;
    }

    .flash-close {
      position: absolute;
      top:      5px;
      right:    @tinyButtonMinWidth / 3;

      font-size: larger;
      /*
      position: absolute;
      top: 5px;
      right: @tinyMinButtonWidth / 3;
*/
      border: none;
      background: transparent;
      color: black !important;
      cursor: pointer;

    }
  }
}

@import "_dropdown_menu.less";
