/* Stylings for angular-macgyver components */

.mac-modal {
  padding: 10px;

  header {
    font-weight: bold;
    text-align:  center;
    background:  #eeeeee;
  }

  .modal-message {
    margin-bottom: 10px;
  }

  .button-bar {
    text-align: center;
  }
}

.confirm-modal {
  .mac-close-modal {
    visibility: hidden;
  }

  .modal-message {
    width:          100%;
    text-align:     center;
    padding-bottom: 10px;
    border-bottom:  1px solid #cccccc;
  }
}
