// Mobile-specific CSS

// All mobile-specific markup requires a "mobile" class.

.search-options-mobile {
  width: 100%;

  .all-button {

    button {
      width: 100%;
      background: white;
    }
  }

  .search-option-mobile {
    margin-top:     10px;
    display:        block;
    width:          100%;
    border:         1px solid @borderColor;
    border-radius:  5px 5px 5px 5px;
    background:     @panelBackground;
    padding-top:    10px;
    padding-bottom: 10px;

    &.hover {
      cursor: pointer;
      border: none;
    }

    label {
      width: 80%;
    }
  }
}
