
#navbar {
  height:           @navbarHeight;
  background-color: @navbarBackground;
  width:            100%;
  margin:           0;
  padding:          0;
  position:         relative; // Allow for absolute positioning of children
}

#logo {
  font-family: 'Asset', cursive;
  color: @logoColor;
  float: left;

  @media @phone {
    font-size: 18px;
  }

  @media @tablet {
    font-size: 24px;
  }

  @media @desktop {
    font-size: 32px;
  }

  @media @wideDesktop {
    font-size: 40px;
  }
}

#navbar-menu-bar {
  @media @phone {
    font-size: @phoneFontSize - 2px;
  }

  @media @tablet {
    font-size: @tabletFontSize - 2px;
  }

  @media @desktop {
    font-size: @desktopFontSize - 2px;
  }

  @media @wideDesktop {
    font-size: @desktopFontSize - 2px;
  }

  #user-menu-link {
    text-decoration:  none;
    color:            #444444;
/*
    background-color: @menuBackgroundColor;
*/
    padding-bottom:   10px;
    padding-left:     0;
    padding-right:    5px;
    padding-top:      0;
/*
    border-top:       1px solid @menuBorderColor;
    border-right:     1px solid @menuBorderColor;
    border-left:      1px solid @menuBorderColor;
    border-radius:    3px 3px 3px 3px;
*/
  }
}

#loading-spinner {
  position:         absolute;
  top:              5px;
  color:            #dddddd;
  background-color: #888888;
  text-align:       center;
  border-radius:    5px 5px 5px 5px;
  float:            right;

  @media @phone {
    font-size: 20px;
    height:    25px;
    width:     25px;
    right:     20px;
  }

  @media @tablet {
    font-size: 20px;
    height:    25px;
    width:     25px;
    right:     30px;
  }

  @media @desktop {
    font-size: 40px;
    height:    50px;
    width:     50px;
    right:     55px;
  }

  @media @wideDesktop {
    font-size: 40px;
    height:    50px;
    width:     50px;
    right:     55px;
  }
}
