

#navbar {
  background-color: @navbarBackground;
  width:            100%;
  margin:           0;
  padding:          0;
  position:         relative; // Allow for absolute positioning of children

  .container-fluid {
    margin: 0;
    background-color: @navbarBackground;
  }

  .navbar-nav {

    background-color: @navbarBackground;
    &.desktop {
      height: @navbarHeight;
    }

    li {
      // We want to center the <a> element, which contains the label,
      // within the <li>. To do that, since the containing <li> element
      // element has a known fixed height, we can simply set the <li>
      // container's line-height to fill its height. See
      // http://stackoverflow.com/a/84616/53495

      background-color: @navbarBackground;

      &.desktop {
        height:      @navbarHeight;
        line-height: @navbarHeight;
      }

      .pwg-tab-label {
        .icon {
          font-size: larger;
        }

        &.label-text {
          font-size: larger;
        }
      }

      &.mobile {

        .pwg-tab-label {
          .icon {
            font-size: smaller !important;
          }

          &.label-text {
            font-size: smaller !important;
          }
        }
      }

      a {
        background-color: transparent;
        display:          inline-block;
        text-align:       center;
        color:            @menuTextColor;

        &:hover {
          color: @menuHoverTextColor;
        }
      }

      &.active {
        background-color: @activeTabBackground;

        &.desktop {
          border-radius: 4px 4px 4px 4px;
        }

        a {
          color:  @activeTabForeground;
        }
      }
    }
  }

  .navbar-collapse {
      background-color: @navbarBackground;
  }

  .navbar-brand {
    .logo {
      float: left;
    }
    .qualifier {
      font-style:  italic;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      color:       @logoColor;
    }
  }
}

