@phoneSearchFontSize:   @phoneFontSize - 4px;
@tabletSearchFontSize:  @tabletFontSize - 3px;
@desktopSearchFontSize: @desktopFontSize;

#search-screen {
  width: 100%;

  @media @phone {
    font-size: @phoneSearchFontSize;
  }

  @media @tablet {
    font-size: @tabletSearchFontSize;
  }

  @media @desktop {
    font-size: @desktopSearchFontSize;
  }

  @media @wideDesktop {
    font-size: @desktopSearchFontSize;
  }

  .clickable {
    &:hover {
      cursor: pointer;
    }
  }

  input.standalone {
    max-width: 150px !important;
  }

  textarea.standalone {
    min-width:  250px;
    max-width:  500px;
    min-height: 100px;
  }

  .btn-borderless {
    color: black;
  }

  .new-password-entry-table {
    margin-top: 20px;
    tr {
      vertical-align: top;
    }
  }

  .search-box {
    #search-form {

      .desktop-styles {
        display: inline-block;
      }

      div.input {
        @media @desktop {
          .desktop-styles;
        }

        @media @wideDesktop {
          .desktop-styles;
        }

        input {
          @media @phone {
            min-height: 40px;
            font-size: @phoneFontSize * 0.9;
          }

          @media @tablet {
            min-height: 40px;
            font-size: @tabletFontSize * 0.9;
          }
        }
      }
    }

    .search-options {
      padding-left:  16px !important;
      display:       inline-block;
      border:        @inputBorderColor;
      border-radius: 5px 5px 5px 5px;

      .buttons {
        margin-right: 10px !important;
      }

      .search-option {
        margin-left: 5px;
      }

      div.input {
        display: inline;

        input[type=checkbox] {
          margin-left: 0;
          position: relative;
        }
      }
    }
  }

  #desktop-results {

    @horizontal-margin: 30px;

    .desktop-results-header {
      margin-left:   @horizontal-margin;
      margin-right:  @horizontal-margin;
      margin-bottom: 20px;
    }

    .pw-buttons {
      white-space: nowrap;
    }

    .hint {
      float:          right;
      padding-bottom: 10px;
    }

    .password {
      .show-hide-password {
        a.toggle-password {
          text-decoration: none;
          border: none;
        }
      }

      .shown-password {
        font-family: monospace;
        width: 8em;
      }
    }

    .select-checkbox {
      display: inline-block;
      margin-left: 10px;

      input {
        vertical-align: middle;
      }
    }

    .extras {
      .toggle-button {
        margin-bottom: 10px;
      }

      table {
        border: 0;
        width: auto;

        tr {
          border: 0;
        }

        td {
          border: 0;
        }
      }

      .field-name {
        font-weight: bold;
      }
    }
  }

  #mobile-search-box {
    input {
      width: 100%;
    }

    #new-button {
      display: inline-block;
      width: 100%;
      button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  #mobile-results {
    #search-results-header {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }

    #mobile-results-list {
      @labelMinWidth: 130px;

      margin-left: 10px;
      margin-right: 10px;

      a.panel-toggle {
        background-color: #f7f3ed;
        .panel-heading {
          background-color: #f7f3ed;
        }

        height: 100%;
        color: black;
        text-decoration: none !important;

        &:hover {
          color: black;
          text-decoration: none !important;
        }
      }

      .panel-body {
        .mobile-field {
          margin-bottom: 10px;

          .mobile-label {
            min-width: @labelMinWidth;
            color: black;
            display: inline-block;
            font-weight: bold;
          }

          .mobile-value {
            display: inline-block;
          }
        }
      }
    }
  }
}
