@phoneSearchFontSize:   @phoneFontSize - 4px;
@tabletSearchFontSize:  @tabletFontSize - 3px;
@desktopSearchFontSize: @desktopFontSize;

#search-screen {
  width: 100%;

  @media @phone {
    font-size: @phoneSearchFontSize;
  }

  @media @tablet {
    font-size: @tabletSearchFontSize;
  }

  @media (@desktop) or (@wideDesktop) {
    font-size: @desktopSearchFontSize;
  }

  .search-box {
    #search-form {

      .desktop-styles {
        max-width: 400px;
        display: inline-block;
      }

      div.input {
        @media @desktop {
          .desktop-styles;
        }

        @media @wideDesktop {
          .desktop-styles;
        }
      }
    }

    .search-options {
      padding-left:  16px !important;
      display:       inline-block;
      border:        @inputBorderColor;
      border-radius: 5px 5px 5px 5px;

      .all-button {
        margin-right: 10px !important;
      }

      .search-option {
        margin-left: 5px;
      }

      div.input {
        display: inline;
      }
    }
  }

  #search-results {
    .search-results-header {
      margin-top:    20px;
      margin-bottom: 20px;
    }

    td.password {
      min-width: 250px;

      input.shown-password {
        width: 60%;
      }

      span.hidden-password {
        width: 60%;
      }
    }

    .angular-accordion-container {

      .angular-accordion-header {
        background: @accordionHeaderBackgroundColor;
        color:      black;
        padding-top: 15px;
        padding-bottom: 15px;

        &:hover {
          text-decoration: none !important;
        }
      }

      .angular-accordion-pane-content {
        border-left:   1px solid @accordionBorderColor;
        border-right:  1px solid @accordionBorderColor;
        border-bottom: 1px solid @accordionBorderColor;

        div {
          margin-top: 5px;
        }
      }
    }
  }
}
