#search-screen {
  width: 100%;

  #search-form {
    .search-box {
    }
  }

  #search-results {
    td.password {
      width: 200px;

      input.shown-password {
        width: 60%;
      }

      span.hidden-password {
        width: 60%;
      }
    }
  }
}
