@import "_defs.less";
@import "_mixins.less";

body {
  font-family: Arial, Verdana;

  @media @phone {
    font-size: @phoneFontSize;
  }

  @media @tablet {
    font-size: @tabletFontSize;
  }

  @media @desktop {
    font-size: @desktopFontSize;
  }

  @media @wideDesktop {
    font-size: @desktopFontSize;
  }
}

html, body {
  margin:  0;
  padding: 0;
}

header {
  color:         @headerColor;
  font-weight:   bold;
  font-size:     larger;
  font-family:   "Source Sans Pro", Verdana, Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

#content {
  margin-top: 10px;
}

.desktop-init-message-styles {
  border:        1px solid @borderColor;
  border-radius: 15px 15px 15px 15px;
  padding:       30px;
  background:    @panelBackground;
}

#initializing {
  margin-top:  20px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color:       black;
  font-size:   110%;
  text-align:  center;

  .message {
    margin:        0 auto;
    width:         30%;

    @media @desktop {
      .desktop-init-message-styles;
    }

    @media @wideDesktop {
      .desktop-init-message-styles;
    }

  }

}

@import "_buttons.less";
@import "_form.less";
@import "_navbar.less";
@import "_login.less";
@import "_home.less";
@import "_angular-directives";
@import "_macgyver.less";
