@import "_defs.less";
@import "_mixins.less";

body {
  font-family: Arial, Verdana;

  @media @phone {
    font-size: @phoneFontSize;
  }

  @media @tablet {
    font-size: @tabletFontSize;
  }

  @media @desktop {
    font-size: @desktopFontSize;
  }

  @media @wideDesktop {
    font-size: @desktopFontSize;
  }
}

html, body {
  margin:  0;
  padding: 0;
}

header {
  color:         @headerColor;
  font-weight:   bold;
  font-size:     larger;
  font-family:   "Source Sans Pro", Verdana, Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

#content {
  margin-top:   10px;
  width:        95%;
  margin-left:  auto;
  margin-right: auto;
}

.desktop-init-message-styles {
  border:        1px solid @borderColor;
  border-radius: 15px 15px 15px 15px;
  padding:       30px;
  background:    @panelBackground;
}

.hint {
  font-size:  80%;
  font-style: italic;
}

#initializing {
  margin-top:  20px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color:       black;
  font-size:   110%;
  text-align:  center;

  .message {
    margin:        0 auto;
    width:         30%;

    @media @desktop {
      .desktop-init-message-styles;
    }

    @media @wideDesktop {
      .desktop-init-message-styles;
    }
  }
}

@tableHeaderBackground: #f4f4f4;

table.data-table {
  width:            100%;
  margin-top:       20px;
  border-width:     0;
  border-spacing:   2px;
  border-style:     none;
  border-collapse:  collapse;

  thead {
    background: @tableHeaderBackground;

    th {
      border-width: 0;
      padding:      3px;
      border-style: none;
      background:   @tableHeaderBackground;
      text-align:   left;

      &.sortable-column {
        cursor: pointer;
      }

      &.tablesort-asc:after {
        content: "\25b4"; // small up arrow
        visibility: visible;
        // float: right;
      }

      &.tablesort-desc:after {
        content: "\25be"; // small up arrow
        visibility: visible;
        // float: right;
      }
    }
  }

  tbody {
    td {
      border-width: 0;
      padding:      3px;
      border-style: none;
    }
  }
}


@import "_buttons.less";
@import "_form.less";
@import "_navbar.less";
@import "_login.less";
@import "_search.less";
@import "_admin_users.less";
@import "_angular-directives";
@import "_macgyver.less";
@import "_animations.less";
@import "_mobile.less";

