
<div id="mobile-search-box" ng-controller="InnerSearchCtrl">

  <!-- mobile -->

  <div class="row">
    <div class="search-box">
      <div class="col-md-12">
        <form id="search-form" name="searchForm" ng-submit="issueSearch()"
              novalidate class="mobile">
          <div class="form-group">
            <input type="text" name="term" id="term" ng-trim="true"
                   ng-model="searchTerm" class="form-control search-term"
                   ng-minlength="2"
                   placeholder="Enter at least two letters to search."/>
            <button type="submit" ng-disabled="searchForm.$invalid"
                    class="button btn btn-primary btn-sm">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <div id="new-button">
            <button type="button" class="btn btn-success" ng-click="newEntry()">
              New Entry
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <div class="search-options-mobile" ng-show="isMobile">
          <div class="all-button">
            <button class="btn btn-info" ng-click="showAll()">
              Get all passwords
            </button>
          </div>

      </div>
    </div>
  </div>

  <div id="mobile-results">
    <div class="row" ng-show="searchResults !== null">
      <div class="col-md-12">
        <div id="search-results-header">
          <span>Found {{pluralizeResults(searchResults.length)}}.</span>
        </div>
      </div>
    </div>
    <div class="row" ng-show="searchResults.length > 0">
      <div id="mobile-results-list" class="row">
        <div class="panel-group" ng-model="activePanel" bs-collapse>
          <div class="panel panel-default"
               ng-repeat="pw in searchResults | orderBy:'name'">
            <a class="panel-toggle" bs-collapse-toggle href="">
              <div class="panel-heading">
                <h4 class="panel-title">{{pw.name}}</h4>
              </div>
            </a>

            <div class="panel-collapse" bs-collapse-target>
              <div class="panel-body">
                <div class="mobile-field description" ng-show="pw.description">
                  <span class="mobile-label">Description:</span>
                  <span class="mobile-value"
                        ng-bind-html="pw.description | linky:'newPage'"></span>
                </div>

                <div class="mobile-field login" ng-show="pw.loginID">
                  <span class="mobile-label">Login:</span>
                  <span class="mobile-value">
                    <input type="text" readonly="readonly"
                           ng-model="pw.loginID"
                           pwg-select-on-click/>
                  </span>
                </div>

                <div class="mobile-field password" ng-show="pw.plaintextPassword">
                  <span class="mobile-label">Password:</span>
                  <span class="mobile-value">
                    <input type="text" readonly="readonly"
                           ng-model="pw.plaintextPassword"
                           pwg-select-on-click/>
                  </span>
                </div>

                <div class="mobile-field url" ng-show="pw.url">
                  <span class="mobile-label">URL</span>
                  <!--
                    ng-bind-html sanitizes any HTML in the field. The
                    linky filter then converts any links embedded in the
                    text.
                  -->
                  <div class="mobile-value"
                       ng-bind-html="pw.url | linky:'newPage'"/>
                </div>

                <div class="extras" ng-show="pw.extras">
                  <div ng-repeat="e in pw.extras | orderBy:'fieldName'"
                       class="mobile-field">
                    <span class="mobile-label">{{e.fieldName}}</span>
                    <span class="mobile-value">{{e.fieldValue}}</span>
                  </div>
                </div>

                <div class="mobile-field notes" ng-show="pw.notes">
                  <span class="mobile-label">Notes</span>
                  <!--
                    ng-bind-html sanitizes any HTML in the field. The
                    linky filter then converts any links embedded in the
                    text.
                  -->
                  <div class="mobile-value">
                    <span ng-bind-html="pw.notes | linky:'newPage' | pwgNewlinesToBRs">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
