<div ng-controller="InnerSearchCtrl">

  <div id="desktop-search-box">

    <div class="row">
      <div class="search-box">
        <div class="col-md-6 col-md-offset-3">
          <form id="search-form" name="searchForm" ng-submit="issueSearch()"
                novalidate class="desktop">
            <div class="form-group">
              <input type="text" name="searchTerm" id="searchTerm"
                     ng-model="searchTerm" class="form-control search-term"
                     ng-minlength="2"
                     placeholder="Enter at least two letters to search."/>
              <button type="submit" ng-disabled="searchForm.$invalid"
                      class="button btn btn-primary btn-sm">
                <i class="fa fa-search"></i>
              </button>
              <button type="button" class="btn btn-sm btn-default"
                      ng-click="showAll()">
                All&nbsp;&nbsp;<span class="badge">{{totalPasswords}}</span>
              </button>
              <button type="button" class="btn btn-sm btn-success" role="button"
                      ng-click="newEntry()">
                New
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <div id="desktop-results">
    <div class="row" ng-show="searchResults && (searchResults.length === 0)">
      <div class="col-md-3"></div>
      <div class="col-md-6">No results.</div>
    </div>
    <div class="row" ng-show="searchResults && (searchResults.length > 0)">
      <div class="col-md-12">
        <div class="desktop-results-header">
          <div>Found {{pluralizeResults(searchResults.length)}}.</div>
          <div ng-show="(searchResults.length > 0)">
            <span class="hint" ng-hide="newPasswordEntry">
              You can click the switch next to a password to show or hide the.
              password. You can click any
              <span class="button btn btn-xs btn-default">
                <i class="fa fa-plus"></i>
              </span>
              to expand the associated field.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="searchResults.length > 0">
      <div class="results-table">

        <table>
          <thead>
            <tr>
              <th class="name">
                <a href="" ng-click="sortBy('name')">Name</a>
                <pwg-sort-indicator reverse="reverse"
                                    column="name"
                                    sort-column="sortColumn">
                </pwg-sort-indicator>
              </th>

              <th class="description">
                <a href="" ng-click="sortBy('description')">Description</a>
                <pwg-sort-indicator reverse="reverse"
                                    column="description"
                                    sort-column="sortColumn">
                </pwg-sort-indicator>
              </th>

              <th class="login-id">
                <a href="" ng-click="sortBy('loginID')">Login</a>
                <pwg-sort-indicator reverse="reverse"
                                    column="loginID"
                                    sort-column="sortColumn">
                </pwg-sort-indicator>
              </th>

              <th class="password">
                Password
              </th>

              <th class="url">
                <a href="" ng-click="sortBy('url')">URL</a>
                <pwg-sort-indicator reverse="reverse"
                                    column="url"
                                    sort-column="sortColumn">
                </pwg-sort-indicator>
              </th>

              <th class="notes">
                Notes
              </th>

              <th class="select-checkbox">
                <button ng-click="toggleSelectForAll()"
                        class="btn btn-default btn-xs">
                  <i class="fa fa-check"></i>
                </button>
                <button ng-show="selectedAny()" class="btn btn-danger btn-xs"
                        ng-click="deleteSelected()">
                  Delete
                </button>
              </th>

              <th>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="pw in searchResults | orderBy:sortColumn:reverse"
                ng-class="{even: $even, odd: $odd}">
              <td class="name">
                <span>{{pw.name}}</span>
              </td>

              <td class="description">
                <div>
                  <span ng-bind-html="pw.description | linky:'newPage'"></span>
                </div>
                <div ng-show="pw.extras" class="extras">
                  <a href="" ng-click="pw.showExtras=!pw.showExtras"
                     role="button" class="btn btn-default btn-xs toggle-button">
                    <span ng-show="pw.showExtras">Hide Extra Fields</span>
                    <span ng-hide="pw.showExtras">Show Extra Fields</span>
                  </a>
                  <table class="table table-condensed"
                         ng-show="pw.showExtras">
                    <tr ng-repeat="e in pw.extras | orderBy:'fieldName'">
                      <td class="field-name">{{e.fieldName}}</td>
                      <td class="field-value">
                        <div ng-if="e.isPassword">
                          <pwg-password-display plaintext-password="{{e.fieldValue}}">
                          </pwg-password-display>
                        </div>
                        <span ng-if="!e.isPassword">
                          {{e.fieldValue}}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="heading">
                        Security Questions
                      </td>
                    </tr>
                    <tr ng-repeat="q in pw.securityQuestions | orderBy:'question'">
                      <td class="field-value">
                        {{q.question}}
                      </td>
                      <td class="field-value">
                        <pwg-password-display plaintext-password="{{q.answer}}">
                        </pwg-password-display>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>

              <td class="login-id">
                <span ng-hide="!pw.loginID">
                  <input type="text" readonly="readonly"
                         pwg-select-on-click
                         ng-model="pw.loginID"/>
                </span>
              </td>

              <td class="password">
                <div>
                  <div ng-if="pw.plaintextPassword">
                    <pwg-password-display plaintext-password="{{pw.plaintextPassword}}">
                    </pwg-password-display>
                  </div>
                </div>
              </td>

              <td class="url">
                <!--
                    ng-bind-html sanitizes any HTML in the field. The
                    linky filter then converts any links embedded in the
                    text.
                -->
                <span>
                  <span ng-show="pw.urlPreview">
                    <button type="button"
                            class="btn btn-default btn-xs pull-right"
                            ng-click="pw.toggleUrlPreview()">
                      <i ng-show="pw.showUrlPreview" class="fa fa-plus"></i>
                      <i ng-hide="pw.showUrlPreview" class="fa fa-minus"></i>
                    </button>
                    <span ng-show="pw.showUrlPreview">
                      <a ng-href="{{pw.url}}">{{pw.urlPreview}}</a>
                    </span>
                    <span ng-hide="pw.showUrlPreview"
                          ng-bind-html="pw.url | linky:'newPage'">
                    </span>
                  </span>
                  <span ng-hide="pw.urlPreview">
                    <span ng-bind-html="pw.url | linky:'newPage'"></span>
                  </span>
                </span>
              </td>

              <td class="notes">
                <span>
                  <span ng-show="pw.notesPreviewAvailable">
                    <button type="button"
                            class="btn btn-default btn-xs pull-right"
                            ng-click="pw.toggleNotesPreview()">
                      <i ng-show="pw.showNotesPreview" class="fa fa-plus"></i>
                      <i ng-hide="pw.showNotesPreview" class="fa fa-minus"></i>
                    </button>

                    <span ng-show="pw.showNotesPreview">
                      {{pw.notesPreview}}
                    </span>
                    <span ng-hide="pw.showNotesPreview">
                      <!--
                        ng-bind-html sanitizes any HTML in the field. The
                        linky filter then converts any links embedded in the
                        text.
                      -->
                      <span ng-bind-html="pw.notes | linky:'newPage' | pwgNewlinesToBRs">
                      </span>
                    </span>
                  </span>
                  <span ng-hide="pw.notesPreviewAvailable">
                    <span ng-bind-html="pw.notes | linky:'newPage' | pwgNewlinesToBRs">
                    </span>
                  </span>
                </span>
              </td>

              <td class="select-checkbox">
                <input type="checkbox" ng-model="pw.selected"/>
              </td>

              <td class="pw-buttons">
                <button type="button"
                        class="btn btn-borderless"
                        ng-click="pw.edit()">
                  <i class="fa fa-pencil"></i>
                </button>
                <button type="button"
                        class="btn btn-borderless"
                        ng-click="pw.delete()">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>
