<div ng-controller="InnerSearchCtrl">

  <div id="desktop-search-box">

    <!-- non-mobile -->

    <div class="row">
      <div class="search-box">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form id="search-form">
            <div class="form-group">
              <input type="text" name="searchTerm" id="searchTerm"
                     ng-model="searchTerm" class="form-control search-term"
                     ng-model-options="{debounce: 500}"
                     ng-change="searchTermChanged()"
                     placeholder="Enter at least two letters to search."/>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6">
        <div class="search-options mobile pull-right">
          <span class="button">
            <button type="button" class="btn btn-small" ng-click="showAll()">
              All
            </button>
            <button type="button" class="btn btn-small btn-info"
                    ng-click="newEntry()">
              New
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div id="desktop-results">
    <div class="row" ng-show="searchResults && (searchResults.length === 0)">
      <div class="col-md-3"></div>
      <div class="col-md-6">No results.</div>
    </div>
    <div class="row" ng-show="searchResults && (searchResults.length > 0)">
      <div class="col-md-12">
        <div class="desktop-results-header">
          <div>Found {{pluralizeResults(searchResults.length)}}.</div>
          <div ng-show="(searchResults.length > 0)">
              <span class="hint" ng-hide="newPasswordEntry">
                You can click on a password to show it or hide it. You
                can click on a long note to expand it.
              </span>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="searchResults.length > 0">
      <div class="results-table">

        <!-- heading -->

        <div class="row results-header">

          <div class="col-md-1">
            <a href="" ng-click="sortBy('name')">Name</a>
            <pwg-sort-indicator reverse="reverse"
                                column="name"
                                sort-column="sortColumn">
            </pwg-sort-indicator>
          </div>

          <div class="col-md-2">
            <a href="" ng-click="sortBy('description')">Description</a>
            <pwg-sort-indicator reverse="reverse"
                                column="description"
                                sort-column="sortColumn">
            </pwg-sort-indicator>
          </div>

          <div class="col-md-2">
            <a href="" ng-click="sortBy('loginID')">Login</a>
            <pwg-sort-indicator reverse="reverse"
                                column="loginID"
                                sort-column="sortColumn">
            </pwg-sort-indicator>
          </div>

          <div class="col-md-2">
            Password
          </div>

          <div class="col-md-2">
            <a href="" ng-click="sortBy('url')">URL</a>
            <pwg-sort-indicator reverse="reverse"
                                column="url"
                                sort-column="sortColumn">
            </pwg-sort-indicator>
          </div>

          <div class="col-md-2">
            Notes
          </div>

          <div class="col-md-1">
            <button ng-click="toggleSelectForAll()"
                    class="btn btn-default btn-xs">
              <i class="fa fa-check"></i>
            </button>
            <button ng-show="selectedAny()" class="btn btn-danger btn-xs"
                    ng-click="deleteSelected()">
              Delete
            </button>
          </div>
        </div>

        <div class="results-body">
          <div class="row"
               ng-class="{even: $even, odd: $odd}"
               ng-repeat="pw in searchResults | orderBy:sortColumn:reverse">

            <form name="pwForm" novalidate ng-submit="pw.save()">
              <div class="col-md-1">
                <span ng-hide="pw.editing">{{pw.name}}</span>
                <span ng-show="pw.editing">
                  <input class="standalone" ng-model="pw.name"
                         type="text" placeholder="Name"/>
                </span>
              </div>

              <div class="col-md-2">
                <span ng-hide="pw.editing">{{pw.description}}</span>
                <span ng-show="pw.editing">
                  <input class="standalone" ng-model="pw.description"
                         type="text" placeholder="Description"/>
                </span>
              </div>

              <div class="col-md-2">
                <span ng-hide="pw.editing || !pw.loginID">
                  <input type="text" readonly="readonly"
                         pwg-select-on-click
                         ng-model="pw.loginID"/>
                </span>
                <span ng-show="pw.editing">
                  <input class="standalone" ng-model="pw.loginID"
                         type="text" placeholder="ID"/>
                </span>
              </div>

              <div class="col-md-2">
                <div class="password">
                  <div ng-hide="pw.editing">
                    <div ng-show="pw.plaintextPassword">

                      <span class="show-hide-password">
                        <a href="" ng-click="pw.togglePasswordVisibility()"
                           class="toggle-password">
                          <span class="fa fa-toggle-on"
                                ng-show="pw.passwordVisible"></span>
                          <span class="fa fa-toggle-off"
                                ng-hide="pw.passwordVisible"></span>
                        </a>
                      </span>

                      <span ng-show="pw.passwordVisible">
                        <input type="text" readonly="readonly"
                               class="shown-password clickable"
                               pwg-select-on-click
                               ng-show="pw.passwordVisible"
                               ng-model="pw.plaintextPassword"/>
                      </span>

                      <span ng-show="!pw.passwordVisible"
                            class="hidden-password clickable">
                        **************
                      </span>

                    </div>
                  </div>
                </div>

                <div ng-show="pw.editing">
                  <input class="standalone" ng-model="pw.plaintextPassword"
                         type="text" placeholder="Password"/>
                </div>
              </div>

              <div class="col-md-2">
                <!--
                  ng-bind-html sanitizes any HTML in the field. The
                  linky filter then converts any links embedded in the
                  text.
                -->
                <span ng-hide="pw.editing">
                  <span ng-show="pw.urlPreview">
                    <button type="button"
                            class="btn btn-default btn-xs pull-right"
                            ng-click="pw.toggleUrlPreview()">
                      <i ng-show="pw.showUrlPreview" class="fa fa-plus"></i>
                      <i ng-hide="pw.showUrlPreview" class="fa fa-minus"></i>
                    </button>
                    <span ng-show="pw.showUrlPreview">
                      <a ng-href="{{pw.url}}">{{pw.urlPreview}}</a>
                    </span>
                    <span ng-hide="pw.showUrlPreview"
                          ng-bind-html="pw.url | linky:'newPage'">
                    </span>
                  </span>
                  <span ng-hide="pw.urlPreview">
                    <span ng-bind-html="pw.url | linky:'newPage'"></span>
                  </span>
                </span>
                <span ng-show="pw.editing" pwg-bootstrap-form-error="url">
                  <input type="text" ng-model="pw.url" name="url"
                         ng-pattern="URLPattern"/>
                  <div class="error" ng-show="pwForm.url.$error.pattern">
                    Invalid URL.
                  </div>
                </span>
              </div>

              <div class="col-md-2">
                <span ng-hide="pw.editing">
                  <span ng-show="pw.notesPreviewAvailable">
                    <button type="button"
                            class="btn btn-default btn-xs pull-right"
                            ng-click="pw.toggleNotesPreview()">
                      <i ng-show="pw.showNotesPreview" class="fa fa-plus"></i>
                      <i ng-hide="pw.showNotesPreview" class="fa fa-minus"></i>
                    </button>

                    <span ng-show="pw.showNotesPreview">
                      {{pw.notesPreview}}
                    </span>
                    <span ng-hide="pw.showNotesPreview">
                      <!--
                        ng-bind-html sanitizes any HTML in the field. The
                        linky filter then converts any links embedded in the
                        text.
                      -->
                      <span ng-bind-html="pw.notes | linky:'newPage' | pwgNewlinesToBRs">
                      </span>
                    </span>
                  </span>
                  <span ng-hide="pw.notesPreviewAvailable">
                    <span ng-bind-html="pw.notes | linky:'newPage' | pwgNewlinesToBRs">
                    </span>
                  </span>
                </span>
                <span ng-show="pw.editing">
                  <textarea class="standalone" ng-model="pw.notes"/>
                </span>
              </div>

              <div class="pw-buttons col-md-1">
                <div class="select-checkbox">
                  <input type="checkbox" ng-model="pw.selected"/>
                </div>
                <button type="button"
                        class="btn btn-borderless"
                        ng-click="pw.edit()"
                        ng-hide="pw.editing">
                  <i class="fa fa-pencil"></i>
                </button>
                <button type="button"
                        class="btn btn-borderless"
                        ng-click="pw.delete()"
                        ng-hide="pw.editing">
                  <i class="fa fa-trash-o"></i>
                </button>
                <button type="submit"
                        class="btn btn-borderless save"
                        ng-click="pw.save()"
                        ng-disabled="pwForm.$invalid"
                        ng-show="pw.editing">
                  <i class="fa fa-save"></i>
                </button>
                <button type="button"
                        class="btn btn-borderless cancel"
                        ng-click="pw.cancel(pwForm)"
                        ng-show="pw.editing">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
