<div ng-controller="InnerSearchCtrl">

  <div id="desktop-search-box">

    <!-- non-mobile -->

    <div class="row">
      <div class="search-box">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form id="search-form">
            <div class="form-group">
              <input type="text" name="searchTerm" id="searchTerm"
                     ng-model="searchTerm" class="form-control search-term"
                     ng-change="searchTermChanged()"
                     placeholder="Enter at least two letters to search."/>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6">
        <div class="search-options mobile pull-right">
          <span class="button">
            <button class="btn btn-small" ng-click="showAll()">
              All
            </button>
            <button class="btn btn-small btn-info" ng-click="editNewEntry()">
              New
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div id="desktop-results">
    <div class="row">
      <div class="col-md-12" ng-show="searchResults != null">
        <div class="desktop-results-header">
          <div>{{pluralizeResults(searchResults.length)}}</div>
          <div ng-show="(searchResults.length > 0)">
              <span class="hint" ng-hide="newPasswordEntry">
                You can click on a password to show it or hide it. You
                can click on a long note to expand it.
              </span>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="searchResults.length > 0">
      <div class="results-table">

        <!-- heading -->

        <div class="row results-header">

          <div class="col-md-1">
            <a href="" ng-click="sortBy('name')">Name</a>
            <pwg-sort-indicator reverse="reverse"
                                column="name"
                                sort-column="sortColumn">
            </pwg-sort-indicator>
          </div>

          <div class="col-md-2">
            <a href="" ng-click="sortBy('description')">Description</a>
            <pwg-sort-indicator reverse="reverse"
                                column="description"
                                sort-column="sortColumn">
            </pwg-sort-indicator>
          </div>

          <div class="col-md-2">
            <a href="" ng-click="sortBy('loginID')">Login</a>
            <pwg-sort-indicator reverse="reverse"
                                column="loginID"
                                sort-column="sortColumn">
            </pwg-sort-indicator>
          </div>

          <div class="col-md-2">
            Password
          </div>

          <div class="col-md-2">
            <a href="" ng-click="sortBy('url')">URL</a>
            <pwg-sort-indicator reverse="reverse"
                                column="url"
                                sort-column="sortColumn">
            </pwg-sort-indicator>
          </div>

          <div class="col-md-2">
            Notes
          </div>

          <div class="col-md-1">
            <button ng-show="selectedAny()" class="btn btn-danger btn-xs"
                    ng-click="deleteSelected()">
              Delete
            </button>

          </div>
        </div>

        <div class="results-body">
          <div class="row"
               ng-class="{even: $even, odd: $odd}"
               ng-repeat="pw in searchResults | orderBy:sortColumn:reverse">

            <form name="pwForm{{$index}}">
              <div class="col-md-1">
                <span ng-hide="pw.editing">{{pw.name}}</span>
                <span ng-show="pw.editing">
                  <input class="standalone" ng-model="pw.name"
                         type="text" placeholder="Name"/>
                </span>
              </div>

              <div class="col-md-2">
                <span ng-hide="pw.editing">{{pw.description}}</span>
                <span ng-show="pw.editing">
                  <input class="standalone" ng-model="pw.description"
                         type="text" placeholder="Description"/>
                </span>
              </div>

              <div class="col-md-2">
                <span ng-hide="pw.editing || !pw.loginID">
                  <input type="text" readonly="readonly"
                         pwg-select-on-click
                         ng-model="pw.loginID"/>
                </span>
                <span ng-show="pw.editing">
                  <input class="standalone" ng-model="pw.loginID"
                         type="text" placeholder="ID"/>
                </span>
              </div>

              <div class="col-md-2">
                <div class="password">
                  <div ng-hide="pw.editing">
                    <div ng-show="pw.plaintextPassword">

                      <span class="show-hide-password">
                        <a href="" ng-click="pw.toggleVisibility()"
                           class="toggle-password">
                          <span class="fa fa-toggle-on"
                                ng-show="pw.passwordVisible"></span>
                          <span class="fa fa-toggle-off"
                                ng-hide="pw.passwordVisible"></span>
                        </a>
                      </span>

                      <span ng-show="pw.passwordVisible">
                        <input type="text" readonly="readonly"
                               class="shown-password clickable"
                               pwg-select-on-click
                               ng-show="pw.passwordVisible"
                               ng-model="pw.plaintextPassword"/>
                      </span>

                      <span ng-show="!pw.passwordVisible"
                            class="hidden-password clickable">
                        **************
                      </span>

                    </div>
                  </div>
                </div>

                <div ng-show="pw.editing">
                  <input class="standalone" ng-model="pw.plaintextPassword"
                         type="text" placeholder="Password"/>
                </div>
              </div>

              <div class="col-md-2">
                <!--
                  ng-bind-html sanitizes any HTML in the field. The
                  linky filter then converts any links embedded in the
                  text.
                -->
                <span ng-hide="pw.editing"
                      ng-bind-html="pw.url | linky:'newPage'"/>
                <span ng-show="pw.editing" pwg-bootstrap-form-error="url">
                  <input type="text" ng-model="pw.url" name="url"
                         ng-pattern="URLPattern"/>
                  <div class="error" ng-show="pwForm{{$index}}.url.$error.pattern">
                    Invalid URL.
                  </div>
                </span>
              </div>

              <div class="col-md-2">
                <span ng-hide="pw.editing"
                      ng-class="{clickable: pw.previewAvailable}">
                  <span ng-click="pw.showPreview=!pw.showPreview">
                    <span ng-show="pw.showPreview">{{pw.notesPreview}}</span>
                    <!--
                      ng-bind-html sanitizes any HTML in the field. The
                      linky filter then converts any links embedded in the
                      text.
                    -->
                    <span ng-hide="pw.showPreview"
                          ng-bind-html="pw.notes | linky:'newPage'"/>
                  </span>
                </span>
                <span ng-show="pw.editing">
                  <textarea class="standalone" ng-model="pw.notes"/>
                </span>
              </div>

              <div class="pw-buttons col-md-1">
                <button class="btn btn-borderless"
                        ng-click="pw.edit()"
                        ng-hide="pw.editing">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-borderless"
                        ng-click="pw.delete()"
                        ng-hide="pw.editing">
                  <i class="fa fa-trash-o"></i>
                </button>
                <div class="select-checkbox">
                  <input type="checkbox" ng-model="pw.selected"/>
                </div>
                <a href="" class="btn btn-borderless save"
                   ng-click="pw.save()"
                   ng-disabled="pwForm{{$index}}.$invalid"
                   ng-show="pw.editing">
                  <i class="fa fa-save"></i>
                </a>
                <a href="" class="btn btn-borderless cancel"
                   ng-click="pw.cancel()"
                   ng-show="pw.editing">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- Box for creating new entry -->

  <div class="row" ng-show="newPasswordEntry" id="new-password-entry">
    <div class="col-md-3"></div>
    <div class="col-md-7">
      <header>New Password Entry</header>
      <form name="newEntry" ng-submit="newPasswordEntry.save()"
            id="new-password-entry-form" novalidate class="">
        <div class="form-group"
             ng-class="{'has-error': newEntry.name.$invalid && newEntry.name.$dirty}">
          <label for="name" class="control-label">Name:</label>
          <input class="form-control"
                 name="name"
                 ng-model="newPasswordEntry.name"
                 id="name"
                 type="text"
                 ng-trim="true"
                 placeholder="Name"
                 ng-required="true"/>
          <p class="help-block"
             ng-show="newEntry.name.$error.required && newEntry.name.$dirty">
            Name is required.
          </p>
        </div>

        <div class="form-group" pwg-bootstrap-form-error="description">
          <label for="description" class="control-label">Description</label>
          <input class="form-control"
                 name="description"
                 id="description"
                 ng-model="newPasswordEntry.description"
                 type="text"
                 placeholder="Description"/>
        </div>

        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          <input class="form-control"
                 name="password"
                 id="password"
                 ng-model="newPasswordEntry.password"
                 type="text"
                 placeholder="Password"/>
        </div>

        <div class="form-group">
          <label for="loginID" class="control-label">ID</label>
          <input class="form-control"
                 name="loginID"
                 id="loginID"
                 ng-model="newPasswordEntry.loginID"
                 type="text"
                 ng-trim="true"
                 placeholder="Login ID"/>
        </div>

        <div class="form-group" pwg-bootstrap-form-error="url">
          <label class="control-label" for="url">URL</label>
          <input class="form-control"
                 name="url"
                 id="url"
                 ng-model="newPasswordEntry.url"
                 type="text"
                 ng-trim="true"
                 ng-pattern="URLPattern"
                 placeholder="URL"/>
          <p class="help-block"
             ng-show="newEntry.url.$error.pattern && newEntry.url.$dirty">
            Invalid URL.
          </p>
        </div>

        <div class="form-group">
          <label for="notes" class="control-label">Notes</label>
          <textarea class="form-control" name="notes" id="notes"
                    ng-model="newPasswordEntry.notes"
                    ng-trim="true" placeholder="Notes"/>
        </div>

        <div class="button-bar left">
          <div class="buttons">
            <button class="btn btn-primary"
                    ng-disabled="newEntry.$invalid"
                    type="submit">
              Save
            </button>
            <button class="btn" ng-click="newPasswordEntry.cancel()">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
