<div id="admin-users"
     ng-controller="AdminUsersCtrl"
     ng-show="segmentIsActive('admin-users')">

  <div class="grid">
    <div class="unit whole" ng-show="users" id="users-list">
      <div class="users-header">
        <div ng-show="users.length == 0">Impossible! No users!</div>
        <div ng-show="users.length == 1">One user.</div>
        <div ng-show="users.length > 1">{{users.length}} users.</div>
      </div>

      <div ng-show="users.length > 0">
        <table class="data-table" ts-wrapper>
          <thead>
            <tr>
              <th class="sortable-column" ts-criteria="email|lowercase" ts-default>
                Email
              </th>
              <th class="sortable-column" ts-criteria="firstName|lowercase">
                First Name
              </th>
              <th class="sortable-column" ts-criteria="lastName|lowercase">
                Last Name
              </th>
              <th class="sortable-column" ts-criteria="admin">
                Administrator
              </th>
              <th class="sortable-column" ts-criteria="active">
                Active
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users" ts-repeat>
              <td>{{user.email}}</td>

              <td>
                <span ng-hide="user.editing">{{user.firstName}}</span>
                <span ng-show="user.editing">
                  <input class=standalone" ng-model="user.firstName" type="text"/>
                </span>
              </td>

              <td>
                <span ng-hide="user.editing">{{user.lastName}}</span>
                <span ng-show="user.editing">
                  <input class=standalone" ng-model="user.lastName" type="text"/>
                </span>
              </td>

              <td>
                <span ng-hide="user.editing">
                  {{user.admin|pwgBoolean}}
                </span>
                <span ng-show="user.editing">
                  <input class=standalone" ng-model="user.admin" type="checkbox"/>
                </span>
              </td>

              <td>
                <span ng-hide="user.editing">
                  {{user.active|pwgBoolean}}
                </span>
                <span ng-show="user.editing">
                  <input class=standalone" ng-model="user.active" type="checkbox"/>
                </span>
              </td>

              <td>
                <a href="javascript:void(0)"
                   class="inline-button"
                   ng-click="user.edit()"
                   ng-hide="user.editing">
                  <i class="fa fa-pencil"></i>
                </a>
                <a href="javascript:void(0)"
                   class="inline-button"
                   ng-click="user.save()"
                   ng-show="user.editing">
                  <i class="fa fa-save"></i>
                </a>
                <a href="javascript:void(0)"
                   class="inline-button cancel"
                   ng-click="user.cancel()"
                   ng-show="user.editing">
                  <i class="fa fa-times"></i>
                 </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
