<div id="search-screen"
     ng-controller="SearchCtrl"
     ng-show="segmentIsActive('search')">
  <div class="search-box">
    <div class="grid no-gutters">
      <div class="unit">
        <form id="search-form" class="inline">
          <div class="form-field">
            <label for="searchTerm">
              <i class="fa fa-search"></i>&nbsp;
            </label>
            <div class="input">
              <input type="text" name="searchTerm" ng-model="searchTerm"
                     ng-change="searchTermChanged()" class="search-term"
                     placeholder="Enter at least two letters to search."/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="grid no-gutters">
      <div class="unit" ng-class="{half: !isMobile, whole: isMobile}">

        <!-- mobile -->

        <div class="search-options-mobile" ng-show="isMobile">
          <span class="all-button">
            <button class="btn btn-normal" ng-click="showAll()">
              Get all passwords
            </button>

          </span>

          <span class="search-option-mobile"
                ng-click="searchDescription=!searchDescription">

            <!--
             A fake checkbox for mobile, since we're clicking the whole
             thing.
            -->
            <pwg-fake-checkbox ng-model="searchDescription"></pwg-fake-checkbox>
            <label>Description</label>
          </span>

          <span class="search-option-mobile"
                ng-click="matchFullWord=!matchFullWord">
            <pwg-fake-checkbox ng-model="matchFullWord"></pwg-fake-checkbox>
            <label>Whole word</label>
          </span>
        </div>

        <!-- non-mobile -->

        <div class="search-options mobile" ng-hide="isMobile">
          <span class="all-button">
            <button class="btn btn-normal" ng-click="showAll()">
              All
            </button>
          </span>
          <span class="search-option">
            <div class="input checkbox">
              <label class="search-option-label" for="description">
                Description
              </label>
              <input type="checkbox"
                     name="description"
                     ng-model="searchDescription"
                     ng-change="searchOptionChanged()"/>
            </div>
          </span>
          <span class="search-option">
            <span class="search-option-label">Whole word</span>
            <input type="checkbox" ng-model="matchFullWord"
                   ng-change="searchOptionChanged()"/>
           </span>
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="unit whole" ng-show="searchResults != null" id="search-results">
      <div class="search-results-header">
        <div ng-show="searchResults.length == 0">No results.</div>
        <div ng-show="searchResults.length == 1">One result.</div>
        <div ng-show="searchResults.length > 1">{{searchResults.length}} results</div>
      </div>

      <div ng-show="(searchResults.length > 0)">
        <div ng-show="!isMobile">
          <span class="hint">
            You can click on a password to show it or hide it. You
            can click on a long note to expand it.
          </span>

          <table class="data-table" ts-wrapper>
            <thead>
              <tr>
                <th class="sortable-column" ts-criteria="name|lowercase" ts-default>
                  Name
                </th>
                <th class="sortable-column" ts-criteria="description|lowercase">
                  Description
                </th>
                <th>Password</th>
                <th>Notes</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="pw in searchResults" ts-repeat>
                <td>
                  <span ng-hide="pw.editing">{{pw.name}}</span>
                  <span ng-show="pw.editing">
                    <input class="standalone" ng-model="pw.name"
                           type="text" placeholder="Name"/>
                  </span>
                </td>

                <td>
                  <span ng-hide="pw.editing">{{pw.description}}</span>
                  <span ng-show="pw.editing">
                    <input class="standalone" ng-model="pw.description"
                           type="text" placeholder="Description"/>
                  </span>
                </td>

                <td class="password">
                  <div ng-hide="pw.editing">
                    <div ng-show="pw.plaintextPassword">
                      <span ng-show="pw.passwordVisible">
                        <input type="text" readonly="readonly"
                               class="shown-password clickable"
                               ng-show="pw.passwordVisible"
                               ng-model="pw.plaintextPassword"
                               ng-click="pw.passwordVisible=!pw.passwordVisible"/>
                        <clippy text="{{pw.plaintextPassword}}"/>
                      </span>

                      <span ng-show="!pw.passwordVisible"
                            class="hidden-password clickable"
                            ng-click="pw.passwordVisible=!pw.passwordVisible">
                        **************
                      </span>
                    </div>
                  </div>
                  <div ng-show="pw.editing">
                    <input class="standalone" ng-model="pw.plaintextPassword"
                           type="text" placeholder="Password"/>
                  </div>
                </td>

                <td>
                  <span ng-hide="pw.editing"
                        ng-class="{clickable: pw.previewAvailable}">
                    <span ng-click="pw.showPreview=!pw.showPreview">
                      <span ng-show="pw.showPreview">{{pw.notesPreview}}</span>
                      <span ng-hide="pw.showPreview">{{pw.notes}}</span>
                    </span>
                  </span>
                  <span ng-show="pw.editing">
                    <textarea class="standalone" ng-model="pw.notes"/>
                  </span>
                </td>

                <td>
                  <a href="javascript:void(0)"
                     class="btn btn-borderless"
                     ng-click="pw.edit()"
                     ng-hide="pw.editing">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a href="javascript:void(0)"
                     class="btn btn-borderless"
                     ng-click="pw.delete()"
                     ng-hide="pw.editing">
                    <i class="fa fa-trash-o"></i>
                  </a>
                  <a href="javascript:void(0)"
                     class="btn btn-borderless save"
                     ng-click="pw.save()"
                     ng-show="pw.editing">
                    <i class="fa fa-save"></i>
                  </a>
                  <a href="javascript:void(0)"
                     class="btn btn-borderless cancel"
                     ng-click="pw.cancel()"
                     ng-show="pw.editing">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div ng-show="isMobile">
          <angular-accordion ng-repeat="pw in searchResults">
            <pane>
              <pane-header>{{pw.name}}</pane-header>
              <pane-content>
                <div>{{pw.description}}</div>
                <div>
                  <input id="result-{$index}" type="text" readonly="readonly"
                         ng-model="pw.plaintextPassword"
                         ng-click="this.select()"/>
                  <button class="btn btn-small" ng-click="mobileSelect($index)">
                    Select
                  </button>
                </div>
              </pane-content>
            </pane>
          </angular-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
