<div id="search-screen"
     ng-controller="SearchCtrl"
     ng-show="segmentIsActive('search')">
  <div class="search-box">
    <div class="grid no-gutters">
      <div class="unit">
        <form id="search-form" class="inline">
          <div class="form-field">
            <label for="searchTerm">
              <i class="fa fa-search"></i>&nbsp;
            </label>
            <div class="input">
              <input type="text" name="searchTerm" ng-model="searchTerm"
                     ng-change="searchTermChanged()" class="search-term"
                     placeholder="Enter at least two letters to search."/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="grid no-gutters">
      <div class="unit half">
        <div class="search-options">
          <span class="all-button">
            <button type="btn btn-small" ng-click="showAll()">All</button>
          </span>
          Search:
          <span class="search-option">
            <span class="search-option-label">Description</span>
            <input type="checkbox" ng-model="searchDescription"
                   ng-change="searchOptionChanged()">
          </span>
          <span class="search-option">
            <span class="search-option-label">Whole word</span>
            <input type="checkbox" ng-model="matchFullWord"
                   ng-change="searchOptionChanged()">
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="unit whole" ng-show="searchResults != null" id="search-results">
      <div ng-show="searchResults.length == 0">No results.</div>
      <div ng-show="searchResults.length == 1">One result.</div>
      <div ng-show="searchResults.length > 1">{{searchResults.length}} results</div>

      <div ng-show="(searchResults.length > 0)">
        <div ng-show="!isMobile">
          <table class="data-table" ts-wrapper>
            <thead>
              <tr>
                <th class="sortable-column" ts-criteria="name|lowercase" ts-default>
                  Name
                </th>
                <th class="sortable-column" ts-criteria="description|lowercase">
                  Description
                </th>
                <th>Password</th>
                <th>Notes</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="result in searchResults" ts-repeat>
                <td>{{result.name}}</td>
                <td>{{result.description}}</td>
                <td class="password">
                  <div ng-show="result.plaintextPassword">
                    <button type="btn btn-tiny"
                            ng-click="result.passwordVisible=!result.passwordVisible">
                      <span ng-show="result.passwordVisible">hide</span>
                      <span ng-show="!result.passwordVisible">show</span>
                    </button>
                    <input type="text" readonly="readonly"
                           class="shown-password"
                           ng-show="result.passwordVisible"
                           ng-model="result.plaintextPassword"/>
                    <span ng-show="!result.passwordVisible"
                          class="hidden-password">
                      **************
                    </span>
                  </div>
                </td>
                <td>{{result.notes}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div ng-show="isMobile">
          <angular-accordion ng-repeat="result in searchResults">
            <pane>
              <pane-header>{{result.name}}</pane-header>
              <pane-content>
                <div>{{result.description}}</div>
                <div>
                  <input type="text" readonly="readonly"
                         ng-model="result.plaintextPassword"/>
                </div>
              </pane-content>
            </pane>
          </angular-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
