// Styling for all forms.

.text-input-common(@width: 100%) {
  width:         @width;
  margin-top:    5px;
  margin-bottom: 10px;
  border:        1px solid @borderColor;
  border-radius: 5px 5px 5px 5px;
  height:        20px;
  padding-left:  5px;
  padding-right: 5px;
  color:         @formInputTextColor !important;
  min-height:    30px;

  &:focus {
    box-shadow: 0px 0px 2px 2px @inputFocusBoxShadowColor;
    border:     1px solid @inputFocusBorderColor;
    background: @inputFocusBackgroundColor;
    outline:    none;
  }
}

input[type="email"],
input[type="password"],
input[type="text"] {
  &.standalone {
    .text-input-common(90%);
  }
}

.label-common {
  width:         100%;
  text-align:    left;
  padding-right: 5px;
  font-weight:   bold;
  color:         @formLabelTextColor !important;

  @media @phone {
    font-size: @phoneFontSize * 0.7; // smaller than regular font
  }

  @media @tablet {
    font-size: @tabletFontSize * 0.8;
  }

  @media @desktop {
    font-size: @desktopFontSize;
  }

  @media @wideDesktop {
    font-size: @desktopFontSize;
  }
}

form {
/*
  display: block;
  width:   100%;
*/
  div.form-group {
    label {
      color: black !important;
    }
    &.has-error {
      .control-label {
        color: red;
      }
    }
  }


  .button-bar {
    // Centering of button bar: See http://stackoverflow.com/questions/18524722/

    display:    block;
    text-align: center;
    width:      100%;
    margin-top: 20px;

    .buttons {
      width:      100%;
      display:    inline-block;
      text-align: center;
    }

    &.left {
      text-align: left !important;

      .buttons {
        text-align: left !important;
      }
    }

  }
}
