@(browserLoggingLevel: String, mobile: Boolean = false, version: String)(implicit req: RequestHeader)

<!DOCTYPE html>

@import tags._

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>PWGuard</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!--[if lt IE 9]>
    @scriptWebJar("excanvas/excanvas.js")
    @scriptWebJar("html5shiv/html5shiv.min.js")
    <![endif]-->

    @* ----------------------------------------------------------------------
       JQuery
       ---------------------------------------------------------------------- *@

    @scriptWebJar("jquery/jquery.min.js")

    @* ----------------------------------------------------------------------
       Fonts
       ---------------------------------------------------------------------- *@

    @stylesheet("https://fonts.googleapis.com/css?family=Asset")
    @stylesheet("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900")

    @* ----------------------------------------------------------------------
       Angular.js
       ---------------------------------------------------------------------- *@

    @scriptWebJar("angularjs/angular.js")
    @scriptWebJar("angularjs/angular-route.min.js")
    @scriptWebJar("angularjs/angular-cookies.min.js")
    @scriptWebJar("angularjs/angular-animate.min.js")
    @scriptWebJar("angularjs/angular-sanitize.min.js")

    @* ----------------------------------------------------------------------
      Other third-party stuff
      ---------------------------------------------------------------------- *@

    @scriptWebJar("bootstrap/js/bootstrap.min.js")
    @stylesheetWebJar("bootstrap/css/bootstrap.min.css")

    @*
      This version of Angular-Strap doesn't have a map file, so we're loading
      the non-minified version to avoid spurious 404s in the console.
    *@
    @scriptWebJar("angular-strap/angular-strap.js")

    @stylesheetWebJar("font-awesome/css/font-awesome.min.css")

    @scriptWebJar("log4javascript/js/log4javascript.js")
    @scriptWebJar("underscorejs/underscore-min.js")
    @scriptWebJar("modernizr/modernizr.min.js")

    @* ----------------------------------------------------------------------
        Local
       ---------------------------------------------------------------------- *@

    @* This <script> block MUST precede other local stuff. *@
    <script type="text/javascript">
      window.ANGULAR_TEMPLATE_URL = "@routes.MainController.getAngularTemplate("TOKEN")";
      window.angularTemplateURL = function(filename) {
        return window.ANGULAR_TEMPLATE_URL.replace("TOKEN", filename);
      }
    </script>

    @stylesheetAsset("main.css")

    @*
      traceur compiles main.js down to pwguard.js. For some reason, the
      place sbt-traceur puts the compiled file doesn't allow a "javascripts"
      prefix on the path, hence the second argument, below.
    *@
    @scriptAsset("pwguard.js", includePrefix=false)

    @helper.javascriptRouter("routes")(
      routes.javascript.SessionController.getLoggedInUser,
      routes.javascript.SessionController.login,
      routes.javascript.SessionController.logout,
      routes.javascript.PasswordEntryController.searchPasswordEntries,
      routes.javascript.PasswordEntryController.all,
      routes.javascript.PasswordEntryController.save,
      routes.javascript.PasswordEntryController.create,
      routes.javascript.PasswordEntryController.delete,
      routes.javascript.PasswordEntryController.deleteMany,
      routes.javascript.MainController.getUserAgentInfo,
      routes.javascript.UserController.save,
      routes.javascript.UserController.getAll,
      routes.javascript.UserController.create,
      routes.javascript.UserController.delete,
      routes.javascript.ImportExportController.exportData,
      routes.javascript.ImportExportController.importDataUpload,
      routes.javascript.ImportExportController.completeImport,
      routes.javascript.Assets.at,
      routes.javascript.MainController.static
    );

    <script type="text/javascript">
      routes.staticAsset = function(path) {
        return routes.controllers.MainController.static(path).url;
      }

      routes.asset = function(path) {
        return routes.controllers.Assets.at(path).url;
      }

      var browserLogLevel = "@browserLoggingLevel";
      var browserIsMobile = @mobile;
      var version         = "@version";
    </script>
  </head>

  <body ng-app="PWGuardApp" ng-cloak class="container-fluid">
    <div ng-controller="MainCtrl">

      @navbar()

      <div id="content" ng-hide="initializing">

        <div class="row" ng-show="loggedIn()">
          <div class="col-md-12">
            <div class="login-status pull-right"
                  ng-class="{mobile: isMobile, desktop: !isMobile}">
              {{loggedInUser.displayName}}
            </div>
          </div>
        </div>

        <div ng-show="initializing">
          <div class="row">
            <div class="col-md-4">
              <div class="message">
                Loading. Please wait...
              </div>
            </div>
          </div>
        </div>

        @flash()

        <div ng-view></div>

      </div>

      <div id="debug" ng-show="debugMessages.length > 0">
        <div class="row">
          <div class="col-md-12">Debug</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <pre ng-repeat="line in debugMessages track by $index">{{line}}</pre>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
