@(browserLoggingLevel: String, mobile: Boolean = false)(implicit req: RequestHeader)

<!DOCTYPE html>

@import tags._

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>PWGuard</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    @* ----------------------------------------------------------------------
       JQuery
       ---------------------------------------------------------------------- *@

    @scriptWebJar("jquery/jquery.min.js")

    @* ----------------------------------------------------------------------
       Fonts
       ---------------------------------------------------------------------- *@

    @stylesheet("https://fonts.googleapis.com/css?family=Asset")
    @stylesheet("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900")

    @* ----------------------------------------------------------------------
       Angular.js
       ---------------------------------------------------------------------- *@

    @scriptWebJar("angularjs/angular.min.js")
    @scriptWebJar("angularjs/angular-route.min.js")
    @scriptWebJar("angularjs/angular-cookies.min.js")
    @scriptWebJar("angularjs/angular-animate.min.js")

    @* ----------------------------------------------------------------------
      Other third-party stuff
      ---------------------------------------------------------------------- *@

    @scriptWebJar("jquery-ui/jquery-ui.min.js")
    @stylesheetWebJar("jquery-ui-themes/ui-lightness/jquery-ui.min.css")

    @scriptWebJar("bootstrap/js/bootstrap.min.js")
    @stylesheetWebJar("bootstrap/css/bootstrap.min.css")

    @scriptWebJar("angular-route-segment/angular-route-segment.min.js")
    @scriptWebJar("angular-strap/angular-strap.min.js")
    @scriptWebJar("nervgh-angular-file-upload/angular-file-upload.min.js")

    @stylesheetWebJar("font-awesome/css/font-awesome.min.css")

    @scriptWebJar("log4javascript/js/log4javascript.js")
    @scriptWebJar("underscorejs/underscore-min.js")

    @* ----------------------------------------------------------------------
        Local
       ---------------------------------------------------------------------- *@

    @* This <script> block MUST precede other local stuff. *@
    <script type="text/javascript">
      window.ANGULAR_TEMPLATE_URL = "@routes.MainController.getAngularTemplate("TOKEN")";
    </script>

    @stylesheetAsset("main.css")

    @scriptAsset("angular-util.js")
    @scriptAsset("angular-routes.js")
    @scriptAsset("angular-directives.js")
    @scriptAsset("angular-services.js")
    @scriptAsset("angular-filters.js")
    @scriptAsset("main.js")

    @helper.javascriptRouter("routes")(
      routes.javascript.SessionController.getLoggedInUser,
      routes.javascript.SessionController.login,
      routes.javascript.SessionController.logout,
      routes.javascript.PasswordEntryController.searchPasswordEntries,
      routes.javascript.PasswordEntryController.all,
      routes.javascript.PasswordEntryController.save,
      routes.javascript.PasswordEntryController.create,
      routes.javascript.PasswordEntryController.delete,
      routes.javascript.MainController.getUserAgentInfo,
      routes.javascript.UserController.save,
      routes.javascript.UserController.getAll,
      routes.javascript.UserController.create,
      routes.javascript.UserController.delete,
      routes.javascript.ImportExportController.exportData,
      routes.javascript.ImportExportController.importDataUpload,
      routes.javascript.ImportExportController.completeImport,
      routes.javascript.Assets.at,
      routes.javascript.MainController.static
    );


    <script type="text/javascript">
      routes.staticAsset = function(path) {
        return routes.controllers.MainController.static(path).url;
      }

      routes.asset = function(path) {
        return routes.controllers.Assets.at(path).url;
      }

      var browserLogLevel = "@browserLoggingLevel";

      var browserIsMobile = @mobile;
    </script>
  </head>

  <body ng-app="PWGuardApp" ng-cloak class="container">
    <div ng-controller="MainCtrl">

      @navbar()

      <div id="content" ng-hide="initializing">

        <div ng-show="initializing">
          <div class="row">
            <div class="col-md-4">
              <div class="message">
                Loading. Please wait...
              </div>
            </div>
          </div>
        </div>

        @flash()

        <div app-view-segment="0" id="segment-level-0"></div>

      </div>

      <div id="debug" ng-show="debugMessages.length > 0">
        <div class="row">
          <div class="col-md-12">Debug</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <pre ng-repeat="line in debugMessages track by $index">{{line}}</pre>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
