@()

<div id="navbar" ng-controller="NavbarCtrl">
  <div class="grid">
    <div class="unit half">
      <div id="logo">
        <i class="fa fa-lock"></i> PWGuard
      </div>
    </div>
    <div class="unit half">
      <div id="loading-spinner" ng-show="showSpinner">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>

  <div class="grid" id="navbar-menu-bar">
    <div id="login-status" ng-show="loggedIn()">
      <div class="unit whole">

        <dropdown-menu id="user-menu"
                       label="Hello, {{loggedInUser.displayName}} &#x25bc;">
          <dropdown-menu-item>
            <a href="javascript:void(0)" ng-click="logout()">
              <i class="fa fa-sign-out"></i> Logout
            </a>
          </dropdown-menu-item>

          <dropdown-menu-item>
            <a href="javascript:void(0)" ng-click="redirectToSegment('search')">
              <i class="fa fa-search"></i> Search
            </a>
          </dropdown-menu-item>

          <dropdown-menu-item>
            <a href="javascript:void(0)" ng-click="redirectToSegment('profile')">
              <i class="fa fa-wrench"></i> Profile
            </a>
          </dropdown-menu-item>

          <dropdown-menu-item ng-show="loggedInUser.isAdmin">
            <a href="javascript:void(0)"
               ng-click="redirectToSegment('admin-users')"
               ng-show="loggedInUser.isAdmin">
              <i class="fa fa-users"></i> Edit Users
            </a>
          </dropdown-menu-item>

        </dropdown-menu>

      </div>
    </div>
  </div>
</div>
